body {
	margin: 0px;
	background-color: white !important;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbar button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* root {
  & .MuiIconButton-root: {
			padding: 0;
		}
	& .ce-toolbar__settings-btn: {
			color: black;
	}
		& .codex-editor__redactor: {
			paddingBottom: 30px !important;
			color: black;
		},
		& .ce-toolbar__plus: {
			color:black; 
		},
		& .ce-popover: {
    color: black !important;
			height: 100px,
		},
		& .ce-inline-toolbar__dropdown: {
			&:hover: {
				background: black;
			}
		}
} */
